@model IEnumerable<AjaxCRUD_MVC.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center"><i class="fas fa-comment-dollar text-success"></i>Transaction History</h1>

<div id="transaction-list">
    @await Html.PartialAsync("_TransactionListPartial", Model)
</div>